{% extends "layout.html" %}

{% block pageTitle %}
  Gov.uk Prototype Kit: Covid-19 - Prototypes
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_8CYq8zRDZKHcA8l" target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        As a self isolating keyworker register for a test
        <span class="govuk-caption-xl">V1.0 - First round remote testing (7-8th Apr)</span>
      </h1>

      <h2 class="govuk-heading-m">Start links</h2>

      <p><a href="employer-journey-a/0-login">Employer uploads a list of keyworkers</a></p>

      <p><a href="subject-journey-1a/0-sms">Employer refers a keyworker for a test</a></p>

      <p><a href="subject-journey-1b/1-household-members">Key worker adds household member/s</a></p>

      <p><a href="subject-journey-1c/1-find-test-centre">Find a test centre and book appointment</a></p>

    

      <h2 class="govuk-heading-m">Design challenges</h2>

    <ol class="govuk-list govuk-list--number">
      <li>How Might We allow employers to specify a list of keyworkers who need testing (DARA)</li>
      <li>How Might We allow key workers to get tested</li>
    </ol>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Design changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Portal allowing employer staff (in Hospital Trusts) to upload prioritised list of keyworkers for testing</p>
        <p>v1.0 of end-to-end process</a></p>
      </div>
    </details>
    <h2 class="govuk-heading-m">Research findings (after testing)</h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Key findings
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Tested with 7 keyworkers via remote conference</p>
        <p><strong>Postive findings:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a</li>
          <li>b</li>
          <li>c</li>
        </ul>
        <p><strong>Problems:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a</li>
          <li>b</li>
          <li>c</li>
        </ul>
      </div>
    </details>




    </div>
</div>

{% endblock %}
