{% extends "layout.html" %}

{% block pageTitle %}
Apply for a coronavirus test - Confirm my name
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_8CYq8zRDZKHcA8l" target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<!--   <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->
{% endblock %}

{% block content %}
{# Are you a Keyworker? #}

<div class="govuk-width-container">
  <a href="2-test-centres" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

<form action="4-check-appointment" method="post" novalidate style="display:inline; margin-right: 20px;">
  
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Choose a time
    </h1>
 </legend>

 <p>North London Test Centre (0.5 miles away)
   <br>125 testing lane
   <br>Highbury & Islington
   <br>RM4 3RS</p>
  
   <div style="border-top: 1px solid lightgray"><p></p></div>
   <ul class="govuk-list govuk-list--bullet">

  <p class="govuk-body-l">Available appointment times for your household</p>
  <p style="margin-bottom: 0px;">When booking a test, please be aware that:</p>
  <ul class="govuk-list govuk-list--bullet"><li>you must turn up on time
   </li><li>it usually takes no more than 10 minutes to test each person
   </li><li>if there is more than one of you in the vehicle to be tested, you’ll have to wait to a bit longer so that each person can be tested
   </li><li>you may have to wait to be tested, but you should not expect to be at the test centre for any more than an hour</li>
   </ul>


   <p></p>
<p><a href="#">See previous day</a></p>
<p><strong>Saturday 17th April</strong></p>
 <div class="govuk-radios" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot1" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot1">
      8am - 9am
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot2" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot-2">
      9am - 10am
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot3" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot3">
      10am - 11am
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot4" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot4">
      11am - 12pm
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot5" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot5">
      12pm - 1pm
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot6" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot6">
      1pm - 2pm
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot7" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot7">
      2pm-3pm
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot8" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot8">
      1pm - 2pm
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot9" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot9">
      3pm-4pm
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot10" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot10">
      4pm - 5pm
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="slot11" name="slot" type="radio" value="email" data-aria-controls="conditional-slot">
    <label class="govuk-label govuk-radios__label" for="slot11">
      6pm-7pm
    </label>
  </div>
  <br>

 <p><a href="3-choose-time-p2">See next day</a></p>


</fieldset>


  <input type="hidden" name="answers-checked" value="true"  >
    <button class="govuk-button" data-module="govuk-button" style="display:inline; margin-right: 20px;">
      Save and continue
    </button>

</form>

<form action="2-test-centres" method="post" novalidate style="display:inline">
  <input type="hidden" name="answers-checked" value="true">
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Change test centre
</button>
</form>

</div>

</div>
</div>
</main>
</div>



{% endblock %}
