{% extends "layout.html" %}

{% block pageTitle %}
  Gov.uk Prototype Kit: Covid-19 - Prototypes
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_8CYq8zRDZKHcA8l" target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        As a self isolating keyworker register for a test
        <span class="govuk-caption-xl">V1.6 (Currently in design - 14-15 Apr)</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Start links</h2>
      <p><a href="self-refer-a/0-keyworker-status">Self-refer new journey</a></p>

      <p><a href="subject-journey-1a/0-sms">Employer refers a keyworker for a test</a></p>

      <!--       <p><a href="subject-journey-1b/1-household-members">Key worker adds household member/s</a></p>
 -->      

      <h2 class="govuk-heading-m">Design challenges</h2>

    <ol class="govuk-list govuk-list--number">
      <li>How Might We ensure the whole service is easy to understand for all users</li>
      <li>How Might We ensure users don't confuse who is eligible to apply for a test</li>
      <li>How Might We ensure users don't confuse whether or not they need to add household members</li>
      <li>How Might We ensure there are sufficient clinical safety processes are in place</li>
    </ol>
    <ol class="govuk-list govuk-list--number">
      <p><strong>Hypothesis to test</strong></p>
      <li>if we explain all the eligibility rules up front the corrent people will apply</li>
      <li>we can only get the correct people to apply if we put in place decision logic</li>
      <li>the policy rules are too confusing so the wrong people will always apply for test</li>
    </ol>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Design changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Split keyworker and household member self-refer journey -done</p>
        <p>More validation questions / screen out in self-refer journey -done</p>
        <p>Split the registration process -tbc</p>
        <p>Registration - Safeguarding information for those without transport -tbc</p>
        <p>Registration - Additional questions to confirm who can drive -tbc</a></p>
        <p>Registration - Additional questions to confirm how many people in hh have symptoms -tbc</a></p>
        <p>Booking - Add cancel a booked appointment / rebook -tbc</p>
        <p>Remove content from start page -tbc</p>
        <p>Updated Alpha to Beta banners -done</p>
      </div>
    </details>
    <h2 class="govuk-heading-m">Research findings (after testing)</h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Key findings
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Tested with XX users</p>
        <p><strong>Postive findings:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a</li>
          <li>b</li>
          <li>c</li>
        </ul>
        <p><strong>Problems:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a</li>
          <li>b</li>
          <li>c</li>
        </ul>
      </div>
    </details>
     

    </div>
</div>

{% endblock %}
