{% extends "layout.html" %}

{% block pageTitle %}
  Gov.uk Prototype Kit: Covid-19 - Prototypes
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

  <div class="govuk-breadcrumbs" style="margin-top:-30px">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href=".">Coronavirus</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Test for coronavirus: faqs</a>
      </li>
    </ol>
  </div>
     <p> <img src="/public/images/cabinet.png" width="200px" style="margin:-10px 0px"></img></p>

     <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <header class="gem-container">
            <div class="gem-container">
                <p class="gem-guide">Guidance</p>
              <h1 class="govuk-heading-l gem-c-inverse-header gem-container">
                Test for Coronavirus FAQs: <br>
                what is it and who can be tested
              </h1>
              <p class="gem-date">Published 14 April 2020</p>
          </div>
        </header>


        
        <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
          <nav class="gem-c-contents-list  gem-c-contents-list--no-underline " role="navigation" data-module="track-click">
        <h2 class="gem-c-contents-list__title" >Contents</h2>
  
      <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
            <a class="gem-c-contents-list__link govuk-link " data-track-action="content_item 1" data-track-label="#question1" data-track-options="question1" href="#question1"><span class="gem-c-contents-list__number">1. </span><span class="gem-c-contents-list__numbered-text" href="#link1">What is a coronavirus test?</span></a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
            <a class="gem-c-contents-list__link govuk-link " data-track-action="content_item 2" data-track-label="#question2" data-track-options="question2" href="#question2"><span class="gem-c-contents-list__number">2. </span><span class="gem-c-contents-list__numbered-text">Can I go to the dentist, my GP or another medical appointment?</span></a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
            <a class="gem-c-contents-list__link govuk-link " data-track-action="content_item 3" data-track-label="#question3" data-track-options="question3" href="#question3"><span class="gem-c-contents-list__number">3. </span><span class="gem-c-contents-list__numbered-text">Can I walk my dog / look after my horse?</span></a>
  
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
            <a class="gem-c-contents-list__link govuk-link " data-track-action="content_item 4" data-track-label="#question4" data-track-options="question4" href="#question4"><span class="gem-c-contents-list__number">4. </span><span class="gem-c-contents-list__numbered-text">Should I stay at home or go to work?</span></a>
            </li>
  
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
            <a class="gem-c-contents-list__link govuk-link " data-track-action="content_item 5" data-track-label="#question5" data-track-options="question5" href="#question5"><span class="gem-c-contents-list__number"><span class="gem-c-contents-list__number">5. </span><span class="gem-c-contents-list__numbered-text">I’m not a critical worker and I can’t work from home. What should I do?</span></a>
            </li>
  
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
            <a class="gem-c-contents-list__link govuk-link " data-track-action="content_item 6" data-track-label="#question6" data-track-options="questio6" href="#question6"><span class="gem-c-contents-list__number">6. </span><span class="gem-c-contents-list__numbered-text">How can I find out if my work is essential or not?</span></a>
  
          </li>
      </ol>
  </nav>
      </div>


      <div class="govuk-grid-column-two-thirds-from-desktop contents-list-container">

      <h2 class="govuk-heading-m" class="govuk-skip-link" id="question1">What is a coronavirus test?</h2>     
      <p>The new coronavirus is called SARS-CoV-2. In some people it leads to the disease COVID-19.</p>

      <h2 class="govuk-heading-m" class="govuk-skip-link" id="question2">Who can be tested?</h2>
      <p>Key workers who are self-isolating can be tested:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if they currently have coronavirus symptoms</li>
        <li>if one or more other people in theri home have symptoms, but they are not displaying symptoms</li>
        <li>ccc</li>
      </ul>
      <p>The follow individuals are not able to be tested at this time:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Key workers in households where no one has symptoms</li>
        <li>Households where there a no keyworkers</li>
        <li>Under 18's</li>
        <li>Some remote geographic locations (e.g. Highlands and Islands)</li>
      </ul>

      <h2 class="govuk-heading-m" class="govuk-skip-link" id="question3">How can I apply?</h2>
      <p>You should only leave the house for very limited purposes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>aaa</li>
        <li>bbb</li>
        <li>ccc</li>
      </ul>
      <p style="    margin: 2em 0;    background-color: #f3f2f1; padding: 2em;"><a href="3-test-for-coronavirus-start-page">If you meet the criteria, find out how to apply for a test.</a></p>
    
   
      <h2 class="govuk-heading-m" class="govuk-skip-link" id="question4">What happens at the test?</h2>
      <p>You should only leave the house for very limited purposes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>aaa</li>
        <li>bbb</li>
        <li>ccc</li>
      </ul>
                
      <h2 class="govuk-heading-m" class="govuk-skip-link" id="question5">How do I find out my results?</h2>
      <p>You should only leave the house for very limited purposes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>aaa</li>
        <li>bbb</li>
        <li>ccc</li>
      </ul>

      <h2 class="govuk-heading-m" class="govuk-skip-link" id="question5">What do the results mean?</h2>

      <p style="margin-bottom: 0px;">If your test result is <strong>negative</strong>, it means:</p>
      <ul class="govuk-list govuk-list--bullet" >
        <li>you don't currently have coronavirus</li><li>
          you can safely return to work, providing anyone you live with also tests negative</li>
        </ul>
        <p>If your test <strong>positive</strong>, or someone you live with tests positive, it means:</p>
        <ul class="govuk-list govuk-list--bullet" >

          <li>the person who tested postive has coronavirus</li>
          <li>key workers in the household cannot return to work.</li> 
          <li>Everyone in the household needs to continue to self-isolate. </li>
          <li>Read NHS advice about how long to self isolate.</li>
      </ul>
      
      <h2 class="govuk-heading-m" class="govuk-skip-link" id="question6">My test was invalid - what should I do?</h2>     
      <ul class="govuk-list govuk-list--bullet">
        <li>aaa</li>
        <li>bbb</li>
        <li>ccc</li>
      </ul>

      <h2 class="govuk-heading-m" class="govuk-skip-link" id="question6">I've already been tested - can I get tested again?</h2>     
      <ul class="govuk-list govuk-list--bullet">
        <li>Frequency of testing is different for different users</li>
        <li>If you are a critical key worker speak with your employer to request another test</li>
        <li>You cannot self-refer again with X days as the request will be rejected</li>
      </ul>

 
      <h2 class="govuk-heading-m" class="govuk-skip-link" id="question6">How accurate are the tests?</h2>     
      <ul class="govuk-list govuk-list--bullet">
        <li>aaa</li>
        <li>bbb</li>
        <li>ccc</li>
      </ul>
      
      </div>

    </div>
    </details>




    </div>
</div>

{% endblock %}
