{% extends "layout.html" %}

{% block pageTitle %}
Apply for a coronavirus test - Check your details
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_8CYq8zRDZKHcA8l" target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<!--   <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->
{% endblock %}

{% block content %}
{# Check details? #}
<div class="govuk-width-container">
  <a href="5-confirm-employer-ni" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        <h1 class="govuk-heading-l">Check your answers</h1>

        <h2 class="govuk-heading-m">Application details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current situation
            </dt>
            <dd class="govuk-summary-list__value">
              I'm a key worker who has coronavirus symptoms
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="2-current-status">
                Change<span class="govuk-visually-hidden"> key worker status</span>
              </a>
            </dd>
          </div> 

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Tom Smith
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="3-confirm-name">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile number
            </dt>
            <dd class="govuk-summary-list__value">
              073727474224
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="4-mobile-number">
                Change<span class="govuk-visually-hidden"> mobile</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employer details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">NHS Hospital Trust</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="5-confirm-employer-ni">
                Change<span class="govuk-visually-hidden"> employer</span>
              </a>
            </dd>
          </div>
<!--           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">tom.smith.99@nhs.net</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="5-confirm-employer-ni">
                Change<span class="govuk-visually-hidden"> email</span>
              </a>
            </dd>
          </div> -->
<!--           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance Number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">AA 55 44 33 A</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="5-confirm-employer-ni">
                Change<span class="govuk-visually-hidden"> ni</span>
              </a>
            </dd> 
          </div>-->
        </dl>

      

     <!--    <h2 class="govuk-heading-m">Now send your application</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
 -->
        <form action="7-application-submitted" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Submit application
          </button>

        </form>

      </div>
    </div>
  </main>
</div>
{% endblock %}
