{% extends "layout.html" %}

{% block pageTitle %}
Apply for a coronavirus test - You can now register to book
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_8CYq8zRDZKHcA8l" target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<!--   <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div> -->
{% endblock %}

{% block content %}
{# Are you a Keyworker? #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <h1 class="govuk-heading-xl" style="margin-bottom:0px">
      Book a COVID-19 drive-through test centre visit
      </h1>

      <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p>
                  You’ve been invited to book a COVID-19 test, either for yourself or for others in your household, 
                  at a drive-through test centre. This is because you’re a key worker whose work is critical 
                  to the UK’s response to COVID-19. We contacted you because we believe you’re self-isolating, 
                  either because you have symptoms of the virus or because someone else in your household has symptoms of the virus.
                </p>

                <p>The test involves taking a swab sample from your nose and throat.
                </p>
                <h2 class="govuk-heading-m">Who can use this service</h2>
                <p>If you (the key worker) are self-isolating because: </p>
                <p>1. you have symptoms of COVID-19 – then you can book a test for yourself. No one else in your household can be tested using this service, even if they are also self-isolating.</p>
                  <p>2. one or more other people in your home have symptoms, but you are not displaying symptoms yourself – then you are not eligible to book a test for yourself. Only the person or people that you live with who have symptoms are eligible for a test. If this applies to your situation, you can register these other symptomatic people for a test using this form.</p> 
                  <p>You can include a maximum of 3 people to be tested, who must all:</p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>be over 18</li>
                  <li>arrive in the same vehicle</li>
                  <li>be sat next to a window in the vehicle</li>
                  </ul>
                <p>3. a child under 18 in your home has symptoms, but you are not displaying symptoms yourself – then you’re not able to book a test at this point.
                If you are self-isolating for any other reason, you are not eligible to use this service. If you, or the people being tested, cannot drive then you or they are welcome to be driven by anyone else.
              </p><p>To complete this form, you'll need:</p> 
                <ul class="govuk-list govuk-list--bullet">

                    <li>your key worker invitation code which we sent you via text</li>
                    <li>your email address</li>
                    <li>your mobile phone number</li>
                    <li>the registration number of the vehicle you'll use to drive to the test centre</li>
                    <li>the name, email address and mobile phone number of other eligible household members who will be tested instead of you, if you don’t have symptoms
                    </li>
                </ul>

          <p>If you would like a copy of the privacy notice for this service, email DHSC’s Data Protection Officer at email@email.com
          </p>       
          <h2>What happens at a testing centre?</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>you will stay in your vehicle for the duration of your visit</li>
              <li>you'll be given the option to have a swabbing assistant administer the test for you or administer the test yourself. You'll be given full instructions on how to do this when you arrive
              </li>
              <li>We will send you your test results by text message — most people will get their results within 48 hours, but it could take up to 5 days</li>
            </ul>    
            <h2>What people arriving at a test centre need to bring</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>a copy of your test centre pass, which we'll email and text you after you book your visit – this contains a QR code and an ID number</li>
              <li>a form of identification - either your driving license or passport</li>
              <li>If you are a key worker without symptoms, self-isolating because one or more other people in your household have symptoms, ask a symptomatic household member to complete the questions in this form.
              </li>
            </ul>  
            
          </div>
        </main>
      </div>

      <a href="2-unique-code" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button" target="_blank">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>
  </div>

<!-- 

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
