{% extends "layout.html" %}

{% block pageTitle %}
Apply for a coronavirus test - You can now register to book
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_8CYq8zRDZKHcA8l" target="_blank">feedback</a> will help us to improve it.
    </span>
    </p>
</div>

{% endblock %}

{% block content %}
{# Are you a Keyworker? #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

          <a href="1-start-page"><img src="/public/images/unique-code.PNG" width="350px"></a>

    </div>

  </div>
{% endblock %}

<!-- 
Covid testing - decision tree logic - V1.6- Hypothesis 2

Are you a keyworker?
  Yes - I'm a key worker
  No - I'm a not a key worker
  I'm unsure

  How old are you?
  https://www.nhs.uk/conditions/consent-to-treatment/children/
  Enter DOB
  - Over 16 => continue
  - Under 16 => Need parental consent to get tested => enter parental contact details
  
  

  


  How many people in total in your household (including yourself)?
  Pick number

  What is your current situation?
    I have tested positive for coronavirus => follow up 
    I previously had coronavirus symptoms, and i'm self isolating
    Right now I have coronavirus symptoms, and i'm self isolating
    Someone I live with has coronavirus symptoms, and i'm self isolating
    Someone I met recently tested positive for coronavirus

keyworkers and household members with symptoms =>
How may days have you been unable to leave your house (i.e. self-isolating)?
    1-3 days => these people get tested
    4-5 days => these people get tested
    6-7 days => these people get tested
    8-10 days => these people no point testing if by time they get result will be out of self isolation
    11-14 days => these people no point testing if by time they get result will be out of self isolation
    15-21 days => these people should not be self isolating / don't need testing again
    Over 21 days => these people should not be self isolating / don't need testing again
    I'm not self-isolating => screen out



If a they are confirm already as tested postive ->
How many days have you been self-isolating since the day you were tested?
    1-3 days => screen out / stay in isolation
    4-5 days => screen out / stay in isolation
    6-7 days => screen out / stay in isolation
    8-10 days =>  these people could order an immunity check?
    11-14 days => these people could order an immunity check?
    15-21 days => these people should not be self isolating / don't need an antigen test again. these people could order an immunity check? 
    Over 21 days => these people should not be self isolating /don't need an antigen test again. these people could order an immunity check? 
  
    Or add date in and calculate?


If they met someone who tested positive ->
    How long ago was it since you met that person?
    1-3 days => these people get tested only if any symptoms next question
    4-5 days => these people get tested only  if any symptoms next question
    6-7 days => these people get tested only  if any symptoms next question
    8-10 days => these people get tested if any symptoms
    11-14 days => these people don't get tested as they would have had symptoms by now
    15-21 days => these people don't get tested as they would have had symptoms by now
    Over 21 days => these people don't get tested as they would have had symptoms by now
  

Previously had it or Recently met someone symptoms -> 
Which if any symptoms of coronavirus have you had so far? 
  List - as per NHS.uk or NHS.111 list
  validate - how many ? or which most likely symptoms

    => skip if only keyworker in household
    In total, how many people in your household have symptoms?
                 1 other person has symptoms
                 2 other people
                 3 other people
                 4 or more other people
               



        How many of those in your household with symptoms are under 16?
          Pick a number 
          = If all household members with symptoms under 16 => screen out no tests is available for under 16 hh members/ or do we seek parental consent?
          = If keyworker themselves is under 16, do we need parental consent to be tested. Must be brought to drive through, parent must live in their household



Where do you live? (ideally postcode/address lookup)
If inside accepted area=> ask about transport
If outside delivery area / testing area => cannot get tested
  'Uber eats' you cannot currently order

Are you able to drive to the test centre? 
!warning taxis/ buses/ lift of friend. they must live in the same house to minimise risk of spreading the virus
  Yes have own car and drive => continue
  I will get a lift from household member => continue
  I can borrow a car => continue / warning
  I don't have any access to transport => home testing option


CONFIRM 
  
A) Keyworker is symptomatic, has transport
   You can book 1 test at the drive through centre for yourself.
    => collect KW details only

B) Keyworker non-symptomatic, 1 or more housemembers over 18, are symptomatic
    You can book 2 tests for the household members, who are over 18, and have symptoms. 
    ! Key worker should only attend if they are needed to drive. Key worker is not required to attend and they will not be tested.
    => add 2 hh member details

C) Keyworker/Household needs to be tested, but they have no transport currently.
   You can order X home testing kit for the people in your household with symptoms

D) No one is eligible, e.g all hh members are under 16, symptoms were too long ago, then Screen out



We need to confirm details of the people to be tested:

Keyworker details 
Name
Age
Gender
Email
Phone
Vehicle arrive in [if it's a test]

IF UNDER 16
-  end: name, email address, phone number - parent or guardian

=> Send confirmation email they have registered / resume link

=> 
Booking portal - home
As above [for drive through]
=> book,
 MRP - include cancel proces (call centre number) if they are unable to make appointment and need to rearrange
 later - include self-cancel and rebook journey 

Jump into order a Test Start Page/ Workflow
=





-->