{% extends "layout.html" %}

{% block pageTitle %}
Apply for a coronavirus test - You can now register to book
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_8CYq8zRDZKHcA8l" target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
{# Are you a Keyworker? #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">

      <h1 class="govuk-heading-xl">
      Book a COVID-19 drive-through test centre visit
      </h1>

      <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-panel govuk-panel--confirmation">
                <div class="govuk-panel__body">
                  You are eligible to book a coronavirus test
                </div>
              </div>
      
              <h2 class="govuk-heading-m">Who can use this service</h2>
              <p class="govuk-body">
                If you (the key worker) are self-isolating) because:              </p>

              <h2 class="govuk-heading-m">To complete this form, you'll need</h2>
              <p><ul>
                <li>your email address</li>
                <li>your mobile phone number</li>
                <li>the regisration number of the vehicle you'll use to drive to the test centre</li>
              </ul></p>
              <p>You can read this privacy notice about how we collect and process your data</p>

              <h2 class="govuk-heading-m">What happens at the test centre</h2>

              <h2 class="govuk-heading-m">What people arriving at the test centre need to bring</h2>
              <p><ul>
                <li>test centre pass</li>
                <li>ID - passport or drivers license</li>
              </ul></p>

            </div>
          </div>
        </main>
      </div>

      <a href="can-i-have-test" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>

<!-- 

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
