{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

{# Are you a Keyworker? #}

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are you a keyworker?
      </h1>
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
      You can check if you're a keyworker <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-educational-provision/guidance-for-schools-colleges-and-local-authorities-on-maintaining-educational-provision">here</a>.
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="yes" name="changed-name" type="radio" value="symptoms.html">
        <label class="govuk-label govuk-radios__label" for="yes" id="answer">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no" name="changed-name" type="radio" value="no.html">
        <label class="govuk-label govuk-radios__label" for="no">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button type="submit" value="SUBMIT" class="govuk-button" data-module="govuk-button" onclick="checkSubmitType()">
  Continue
</button>
  
<script>
function checkSubmitType()
{
    if(document.getElementById('yes').checked)
    {
        window.location="symptoms.html"; 
    }
    else if(document.getElementById('no').checked)
    {
         window.location="no.html";
    }

}
</script>

{% endblock %}

