{% extends "layout.html" %}

{% block pageTitle %}
  Gov.uk Prototype Kit: Covid-19 - Prototypes
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_8CYq8zRDZKHcA8l" target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        As a keyworker not able to leave home (self-isolating) register for a coronavirus test
        <span class="govuk-caption-xl">Updated: Monday 13/04/2020 21:10</span>
      </h1>
      <h2 class="govuk-heading-m">Design backlog</h2> 
      <p><strong>How might we...</strong></p>
      <ul class="govuk-list govuk-list--bullet">

        <strong>1.5</strong>
        <li>new Book Covid homepage (Caroline's new version)</li>
        <li>join the several journeys up via gov.uk channel</li>
        
        <li> How Might We ensure users understand who is eligible to apply for a test</li>
        <br><strong>1.6 - eligibility focus</strong>
        <li>ensure users know whether or not they need to add household members</li>
        <li>ensure there are sufficient clinical safety processes are in place</li>
        <li>allow keyworkers to cancel a booked appointment - and rebook </li>
        <li>ensure the eligble users only apply for tests by adding structured rules within the workflow</li>
        <li>allow adding household members for only non-key workers with symptoms</li>
        <li>ensure the whole service is easy to understand for all users</li>
        <li>support same day testing - very high priority (i.e. no slot booking needed)</li>

        <br><strong>1.7 - home testing / assisted digital focus</strong>
        <li>allow key workers without a car to get tested conveniently</li>
        <li>allow key workers who are under 18 to get tested</li>
        <li>allow key workers without internet access to get tested</li>
        <li>allow key workers with queries to resolve these</li>
       
        <br><strong>...</strong>
        <li>join up with the antibody test so that there is a consistent user journey</li>
        <li>gather data about the service usage to understand abandoned journeys</li>
        <li>improve accuracy of authentication process by joining to existing services</li>
        <li>ensure the public-facing service is accessible to all user groups</li>
        <li>gather necessary data about applicants to support service to be scalable to all user groups</li>

      </ul>

    </div>
</div>

{% endblock %}
