{% extends "layout.html" %}

{% block pageTitle %}
  Gov.uk Prototype Kit: Covid-19 - Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        As a self isolating keyworker register for a test
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Using this kit</h2>

      <p>If you have used the nhs.uk kit before starting this kit needs different instructions in Terminal. Type <code>npm start</code> to start the kit.</p>

      <h2 class="govuk-heading-m">Prototypes</h2>

      <p><a href="self-refer-index">Key worker self-refer for a coronavirus test</a></p>
      
      <p><a href="/subject-journey-1a/0-sms">v1A Employer refers for a test</a></p>

      <p><a href="/subject-journey-1b/1-household-members">v1A.2 Add household member journey</a></p>

      <p><a href="/subject-journey-1b/1-household-members-V2">v1A.2 Alternative household member page</a></p>
      <p><a href="/subject-journey-1b/7-household-members-added-V2">v1A.2 Alternative household member page 2</a></p>
      
      <p><a href="/subject-journey-1c/1-find-test-centre">v1A Find a test centre journey</a></p>


    </div>
</div>

{% endblock %}
