{% extends "layout.html" %}

{% block pageTitle %}
  Gov.uk Prototype Kit: Covid-19 - Prototypes
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://nhsdigital.eu.qualtrics.com/jfe/form/SV_8CYq8zRDZKHcA8l" target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Get a basic set up first</h2> 
        <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://govuk-prototype-kit.herokuapp.com/docs" target="_blank">Read the gov.uk installation guide</a></li>
        <li><a href="https://nhsuk-prototype-kit.azurewebsites.net/docs/install" target="_blank">Read nhs.uk installation guide</a></li>
        <li>Test installing / run localhost a new version of the gov.uk kit</li>
        <li><a href="https://devcenter.heroku.com/articles/heroku-cli" target="_blank">Install heroku cli</a></li>
        <li><a href="https://git-scm.com/downloads" target="_blank">Install github</a></li>
        <li><a href="https://nhsuk-prototype-kit.azurewebsites.net/docs/how-tos/git" target="_blank">Using git in Cli</a></li>
        <li>Publish something to heroku/git</li>
      </ul>
      
      <h2 class="govuk-heading-m">Install this kit</h2> 
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://github.com/thomashallam/covid-self-refer-prototype" target="_blank">Clone/Download/Fork a copy of this version</a></li>
        <li><a href="https://inspectlet.com" target="_blank">inspeclet.com recorder is enabled</a> within the <a href="/includes/head.html" target="_blank">/includes/head </a><br> - please create a new free account and update script if required</a></li>
      </ul>

      <h2 class="govuk-heading-m">Notes:</h2> 
      <p>If you typically use the nhs.uk kit...</p>
      <p>The gov.uk kit needs different instructions in Terminal. i.e. <code>npm start</code> to start gov.uk kit rather than <code>npm run watch</code> for nhs.uk kit</p>
      <p>The format for setting an Heroku password is different for the nhs.uk kit to gov.uk kit</p>
      <p>Import ssh keys created in git into the git repo to allow access</p>
      <p>The nhsuk and govuk kits have different html markup</p>
      <p><a href="https://design-system.service.gov.uk/components/" target="_blank">Gov.uk Service Manual / Pattern library</a> </p>
      <p><a href="https://service-manual.nhs.uk/design-system/components"  target="_blank">NHS.uk Service Manual / Pattern library</a> </p>
      <p><a href="https://github.com/nhsuk/nhs-prototypes-list"  target="_blank">NHS.uk Service examples</a></p>
      <p><a href="https://design.homeoffice.gov.uk/"  target="_blank">Other design systems available across government</a></p>
      <p>Support for the gov.uk kit and Service Manual is available here: Slack link</p>
      <p>Support for the nhs.uk kit and Service Manual is available here: Gov.uk Slack link</p>
      <p><a href="https://govuk-prototype-kit.herokuapp.com/docs/updating-the-kit"  target="_blank">Process for updating the kit</p>

      
    </div>
</div>

{% endblock %}
#