{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

{# Are you a Keyworker? #}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are you experiencing symptoms of covid-19?
      </h1>
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
      You can check if you're experiencing symptoms <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms-and-what-to-do/">here</a>.
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="yes" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button" href="symptoms.html" onclick="checkSubmitType()">
  Continue
</button>

<script>
function checkSubmitType()
{
    if(document.getElementById('yes').checked)
    {
        window.location="data-input.html"; 
    }
    else if(document.getElementById('no').checked)
    {
         window.location="no.html";
    }

}
</script>
{% endblock %}
